$main-color: #323232;
$main-font-size: 16px;
$main-link-color: white;
$link_hover-color: #58c93a;
$sidebar-title-color: #6c6969;
$h2-font-size-mobile: (20/16)*1rem;
$h2-font-size-desktop: (28/16)*1rem;
$h2-font-weight: 700;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;
$link-transition: color 0.5s linear;