/wp-content/themes/myTheme/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentysixteen/
/wp-content/themes/lesson18/.idea/
/wp-content/themes/lesson18/node_modules/
