@import '../utils/_variables';
@media screen and (min-width: $md-width){
  .h-page {
    h1 {
      margin: 45px 0;
      width: 20%;
    }
    .hamburger {
      display: none !important;
    }
    .menu-primary-menu-links-container {
      position: static;
      float: right;
      width: 80%;
      background: transparent;
      ul{
        display: block !important;
        li {
          float: right;
          height: 130px;
          min-width: 130px;
          &:first-of-type {
            a {
              box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
            }
          }
          &:hover {
            background-color: transparent;
          }
          a {
            padding: 55px 40px;
            box-shadow: -1px 0 0 #1d1d1d;
            &:hover {
              box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a, inset -1px 0 0 #1d1d1d;
            }
          }
        }
      }
    }
  }
  #content {
    width: 70%;
    float: left;
    padding-right: 50px;
    border-right: none;
    article {
      .description {
        h2 {
          font-size: $h2-font-size-desktop;
          letter-spacing: 2px;
        }
      }
    }

  }
  .sidebar {
    width: 30%;
    float: right;
    border-left: none;
    padding-left: 30px;
    padding-top: 80px;
    .sidebar-title {
      margin-top: 80px;
    }
  }
  .f-page {
    padding: 80px 0;
  }
}
.pagination {
  border-bottom: none;
}
.pagination-link.prev-link {
  padding: 30px 0 30px 30px;

}
.pagination-link.next-link {
  padding: 30px 30px 30px 0;
}